{
  email {{ caddy_email }}
}

os.drtufts.com, drtufts.com {
  log
  encode zstd gzip
  root * /caddy-main-site
  file_server
}

grafana.drtufts.com {
  log
  encode zstd gzip
  reverse_proxy * grafana:3000
}

prometheus.drtufts.com {
  log
  encode zstd gzip
  reverse_proxy * prometheus:9090
  {{caddy_prometheus_auth_section}}
}

flaskapp.drtufts.com {
  log
  encode zstd gzip
  reverse_proxy * flask-app:9091
  {{caddy_flaskapp_auth_section}}
}
