---
global:
  scrape_interval: 15s
  # How frequently to evaluate alert rules.
  evaluation_interval: 15s
  # How long until a scrape request times out.
  scrape_timeout: 10s
  # The labels to add to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'Alertmanager'

rule_files:
  - '/etc/prometheus/alert.rules'

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - alertmanager:9093

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'kafka'
    static_configs:
      - targets: ['kafka:7071']

  - job_name: 'flask-app'
    static_configs:
      - targets: ['flask-app:9091']

  - job_name: "node"
    static_configs:
      - targets: ["node-exporter:9100"]

  - job_name: 'cloudwatch'
    static_configs:
      - targets: ["cloudwatch-exporter:9106"]

  - job_name: 'prombackup'
    static_configs:
      - targets: ["prombackup-server:8888"]

  - job_name: 'kafka-lag'
    static_configs:
      - targets: ["kafka-lag:{{ kafka_lag_listen_port }}"]

  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
      - targets: ["cadvisor:8080"]
